@page "/index"

<MudGrid>
    <MudItem xs="12" sm="4">
        <MudPaper Square="true" Class="d-flex" Height="80px" Width="40" Style="background-color:#343A3D">
            <div class="d-flex flex-column">
                <MudText Color="@Colors.lgi" Style="padding:1px 50px 4px 10px" Class="text-white">Em conversa</MudText>
                <MudText Style="padding-left:10px">10</MudText>
            </div>
            <MudIcon Style="font-size: 4.5rem" Icon="@Icons.Material.Rounded.Phone"></MudIcon>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Square="true" Class="d-flex align-center justify-center mud-width-full py-8"></MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Square="true" Class="d-flex align-center justify-center mud-width-full py-8"></MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Square="true" Class="d-flex align-center justify-center mud-width-full py-8"></MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Square="true" Class="d-flex align-center justify-center mud-width-full py-8"></MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Square="true" Class="d-flex align-center justify-center mud-width-full py-8"></MudPaper>
    </MudItem>
</MudGrid>
